<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - | MusicSchool |</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicSchool.styles.css" asp-append-version="true" />
</head>
<body>
<p>
    <div>    
<img src="~/images/music2.jfif" width="400px" height="300px" >
<br />
    <label><b><i>The Three Musketeers Music School</i></b></label>
<br /><br /><br />

</div>
    <b>Address:</b><br />
    Ankara Teknoloji Geliştirme Bölgesi, G Blok, <br /> 
    Üniversiteler Mahallesi Beytepe Lodumlu Köy Yolu Caddesi No:91, 06800 Bilkent Çankaya / ANKARA​​
    &nbsp;<br />
    <b>Phone Number(Mobile):</b><br />
    +90 (555) 555 55 55
</p>
<div>

<img src="~/images/basgan.jpg" width="400px" height="300px" />    <br />
    <label><b><i>Founder Manager of The Three Musketeers</i></b></label>

<br /><br /><br />

<img src="~/images/shelty.jfif" width="400px" height="300px" />
<br />
    <label><b><i>For The Memory of LEO</i></b></label>
<br />
<br />
</div>

</body>
</html>
